<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Sonos Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/asset/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/asset/css/main.css" rel="stylesheet" type="text/css" />
</head>

<%- include('../layouts/header2.ejs') %>
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Edit Product</h2>
                       
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                       
                        <div class="card-body">
                            <form method="post" action="" enctype="multipart/form-data" >
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Product title</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="productname"  value="<%= products.productname %>"  id="product_name">
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Full description</label>
                                    <textarea placeholder="Type here" class="form-control" rows="4" name="description"  value="<%= products.description %>"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Regular price</label>
                                            <div class="row gx-2">
                                                <input placeholder="" type="number" name="regularprice"  value="<%= products.regularprice %>" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Sale price</label>
                                            <input placeholder="" type="number"  name="saleprice"  value="<%= products.saleprice %>" class="form-control">
                                        </div>
                                    </div>
                                   
                                    <div class="col-lg-4">
                                        <label class="form-label">Category</label>
                                        <select class="form-select" name="category">
                                            <option value="">Select a category</option>
                                            <% for(let i = 0; i < categories.length; i++) { %>
                                                <option value="<%= categories[i].categoryname %>"><%= categories[i].categoryname %></option>
                                            <% }; %>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Quantity</label>
                                    <input type="number" name="quantity" placeholder="" class="form-control"  value="<%= products.quantity %>"  id="product_name">
                                </div>
                                <input type="hidden" name="id" value="<%= products._id   %>">
                                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Media</h4>
                        </div>
                        <div class="card mb-4">
                            <div class="card-body">
                                <%
                                if(products.image.length> 0){
                                    for(let i = 0 ; i <products.image.length; i++){
                                        %>
                                       
                                        <img src="/productimages/<%=products.image[i] %>" alt="<%= products.image[i] %>" width="50px" height="50px">                                        <%
    
                                }
                            }else{
                                %>
                                <option>Images Not Found</option>
    
                              <%
                            }
                              %>
                               
    
                                <div>
                                    <label class="form-label"> Images</label>
                                    <input class="form-control" type="file" name="image"   multiple accept="image/*" >
                                </div>
                            </div>
                        </div> 
                    </div> 
                                <div>
                   
                                    <button class="btn btn-md rounded font-sm hover-up" type="submit" value="UpdateProduct"  >Update</button>
                                </div>
                                
                            </form>
                        </div>
                    </div> <!-- card end// -->
                   
                        <!-- card end// -->
                    
                </div>
                <<!-- card end// -->
                    <div class="card mb-4">
                        
                        
                    </div> <!-- card end// -->
                </div>
            </div>
        </section> <!-- content-main end// -->
        <a href="/admin/home">Back</a>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/asset/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/asset/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/asset/js/vendors/select2.min.js"></script>
    <script src="/asset/js/vendors/perfect-scrollbar.js"></script>
    <script src="/asset/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/asset/js/main.js" type="text/javascript"></script>
</body>

</html>