<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/main.css?v=3.4">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>

</head>

<body>
    <%- include('../layouts/header.ejs') %>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-sm-15">
                     
                        <div class="panel-collapse collapse login_form" id="loginform">
                            <div class="panel-body">
                                <p class="mb-30 font-sm">If you have shopped with us before, please enter your details
                                    below. If you are a new customer, please proceed to the Billing &amp; Shipping
                                    section.</p>
                                <form class="payment-form" action="/checkout" method="post" id="paymentform" name="paymentform">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-25">
                                                <h4>Shipping Address</h4>

                                            </div>
                                            <!-- <div class="row mt-20">
                                                <% for (let i=0; i < user.address.length; i++) { %>
                                                    <div class="col-lg-6">
                                                        <div class="card mb-3 mb-lg-0">
                                                            <div class="card-header">
                                                                <input class="form-check-input"
                                                                    value="<%= JSON.stringify(user.address[i]) %>"
                                                                    type="radio" name="address" id="address">
                                                                <label class="form-check-label" for="flexRadioDefault1">
                                                                    <h5 class="mb-0">Address <%= i+1 %>
                                                                    </h5>
                                                                </label>
                                                            </div>
                                                            <div class="card-body">
                                                                <address id="address<%=i%>">
                                                                    <%=user.address[i].name%><br>
                                                                        <%=user.address[i].billing_address%>,
                                                                            <%=user.address[i].billing_address2%>,
                                                                                <%=user.address[i].city%><br>
                                                                                    <%=user.address[i].state%><br>
                                                                                        <%=user.address[i].zipcode%><br>
                                                                                            <%=user.address[i].phone%>
                                                                                                <br>
                                                                                                <%=user.address[i].email%>
                                                                </address>
                                                                <p>
                                                                    <%=user.address[i].order_notes%>
                                                                </p>
                                                                <a href="#" class="btn-small">Editjjjjjj</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% } %>

                                            </div> -->

                                        </div>

                                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                        <div class="payment_method">
                                            <div class="mb-25">
                                                <h5>Payment</h5>
                                            </div>
                                            <!-- <div class="payment_option">
                                                <div class="custome-radio">
                                                    <input class="form-check-input" required="" type="radio"
                                                        name="payment_option" value="razorpay" id="exampleRadios3"
                                                        checked="">
                                                    <label class="form-check-label" for="exampleRadios3"
                                                        data-bs-toggle="collapse" data-target="#bankTranfer"
                                                        aria-controls="bankTranfer">Online Payment</label>
                                                    <div class="form-group collapse in" id="bankTranfer">
                                                        <p class="text-muted mt-5">There are many variations of passages
                                                            of Lorem Ipsum available, but the majority have suffered
                                                            alteration. </p>
                                                    </div>
                                                </div>
                                                <div class="custome-radio">
                                                    <input class="form-check-input" required="" type="radio"
                                                        name="payment_option" id="exampleRadios4" value="COD"
                                                        checked="">
                                                    <label class="form-check-label" for="exampleRadios4"
                                                        data-bs-toggle="collapse" data-target="#cashOnDelivery"
                                                        aria-controls="checkPayment">Cash On Delivery</label>
                                                    <div class="form-group collapse in" id="checkPayment">
                                                        <p class="text-muted mt-5">Please send your cheque to Store
                                                            Name, Store Street, Store Town, Store State / County, Store
                                                            Postcode. </p>
                                                    </div>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <!-- <button id="place-order-button" type="submit"
                                        class="btn btn-fill-out btn-block mt-30">Place Order</button> -->
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <% for (let i=0; i < user.address.length; i++) { %>
                    <div class="row mt-20">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" required
                                                    value='<%= JSON.stringify(user.address[i]) %>' type="radio"
                                                    name="address" id="address<%= i %>">
                            <label class="form-check-label" for="inlineRadio<%= i %>">
                                <div class="card-body">
                                    <address id="address">
                                        <%=user.address[i].name%><br>
                                        <%=user.address[i].addressLine1%>, <%=user.address[i].addressLine2%>,
                                        <%=user.address[i].city%><br>
                                        <%=user.address[i].state%><br>
                                        <%=user.address[i].pinCode%><br>
                                        <%=user.address[i].phone%><br>
                                        <%=user.address[i].email%>
                                    </address>
                                    <a href="/edit-address/<%= i %>" class="btn-small">Edit</a>
                                </div>
                            </label>
                        </div>
                    
                    <% } %>
                    <div class="form-group">
                        <button type="submit" class="btn btn-fill-out btn-block hover-up">Add Address</button>
                    </div>
                </div>
                
                    <div class="order_review">
                        <div class="mb-20">
                            <h4>Your Orders</h4>
                        </div>
                        <div class="table-responsive order_table text-center">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="2">Product</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%var sum=0%>
                                        <% for(i=0;i<user.cart.length;i++){ %>
                                            <tr>
                                                <td class="image product-thumbnail"><img
                                                        src="public/productimages/<%=data[i].ProductDetails[0].image%>"
                                                        alt="#"></td>
                                                <td>
                                                    <h5><a href="shop-product-full.html">
                                                            <%=data[i].ProductDetails[0].productname%>
                                                        </a></h5> <span class="product-qty">x
                                                        <%=userCart.cart[i].quantity%>
                                                    </span>
                                                </td>
                                                <td>₹<span>
                                                        <%= parseInt(data[i].quantity) *
                                                            parseInt(data[i].ProductDetails[0].saleprice)%>
                                                    </span></td>
                                                <td></td>
                                                <input type="hidden" name="productId"
                                                    value="<%=data[i].ProductDetails[0]._id%>">
                                                <input type="hidden" name="salePrice"
                                                    value="<%=data[i].ProductDetails[0].salePrice%>">
                                                <input type="hidden" name="quantity"
                                                    value="<%=data[i].ProductDetails[0].quantity%>">
                                            </tr>
                                            <% } %>
                                                <tr>
                                                    <th>SubTotal</th>
                                                    <td class="product-subtotal" colspan="2">₹<%=GrandTotal%>
                                                    </td>
                                                    <input type="hidden" name="total"  value="<%=GrandTotal%>">

                                                </tr>
                                                <tr>
                                                    <th> Discount</th>
                                                    <td colspan="2" ><em>₹<span id="discountval">0</span></em></td>
                                                </tr>
                                                <tr>
                                                    <th>Total</th>
                                                    <td colspan="2" class="product-subtotal">₹<span
                                                            class="font-xl text-brand fw-900" id="grandTotal">
                                                            <%=GrandTotal%>
                                                        </span></td>
                                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                        <div class="payment_method">
                            <div class="mb-25">
                                <h5>Payment</h5>
                            </div>
                            <div class="form-check">
                                <input form="paymentform" class="form-check-input payment_method" type="radio" name="payment_method"
                                    id="flexRadioDefault1" value="cod">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Cash on Delivery
                                </label>
                            </div>
                            <div class="form-check">
                                <input form="paymentform"
                                class="form-check-input payment_method" type="radio" name="payment_method"
                                    id="flexRadioDefault2" value="online">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Online Payment
                                </label>
                            </div>
                            <div class="form-check">
                                <input form="paymentform"
                                class="form-check-input payment_method" type="radio" name="payment_method"
                                    id="flexRadioDefault2" value="wallet">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Pay From Wallet
                                </label>
                            </div>
                        </div>
                        <input  type="hidden"   class="font-medium" name="ordercouponname" id="ordercouponname" placeholder="Enter Your Coupon" value="">


                       <!-- <form action="" id="paymentform" name="paymentform"> -->
                        <button id="place-order-button" type="submit"
                                        class="btn btn-fill-out btn-block mt-30">Place Order</button> 
                       <!-- </form> -->

                        </form>


                        <div class="mb-30 mt-50">
                            <div class="heading_s1 mb-3">
                                <h4>Apply Coupon</h4>
                            </div>
                            <div class="total-amount">
                                <div class="left">
                                    <div class="coupon">
                                        <form action="/apply-coupon" target="" method="post" id="coupon-form">
                                            <div class="form-row row justify-content-center">
                                                <div class="form-group col-lg-6">
                                                    <input type="hidden" name="totalAmount" id="totalAmountField" value="<%= GrandTotal %>">
                                                    <input class="font-medium" name="couponname" id="couponname" placeholder="Enter Your Coupon" value="<%=coupon._id %>">
                                                </div>
                                                <div class="form-group col-lg-6">
                                                    <button type="submit" class="btn  btn-sm"><i class="fi-rs-label mr-10"></i>Apply</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
            </div>
        </section>
    </main>
    <%- include('../layouts/footer.ejs') %>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->

    <script>
  
    $('#paymentform').submit(function(e){
        
        e.preventDefault();
        var formData = $(this).serialize();
     

        $.ajax({
        
        url: "/checkout",
        type: "POST",
        data:formData,
        success: function (res) { 
        
            console.log(res)
            if (res.success && res.payment_method === "online") {
                var options = {
                    "key": "" + res.key_id + "",
                    "amount": "" + res.amount + "",
                    "currency": "INR",
                    "name": "" + res.productname + "",
                    "description": "" + res.description + "",
                    "image": "https://dummyimage.com/600*400/000/fff",
                    "order_id": "" + res.rpOrder_id + "",
                    "handler": function (response) {
                        console.log(response);
                        alert("Payment Success");
                        verifyRazorpay(response,res.receipt)
                    },
                    "prefill": {
                        "contact": "" + res.contact + "",
                        "name": "" + res.name + "",
                        "email": "" + res.email + ""
                    },
                    "notes": {
                        "description": "" + res.description + ""
                    },
                    "theme": {
                        "color": "#2300a3",
                    }
                };
                var razorpayObject = new Razorpay(options);
                razorpayObject.on('payment.failed', function (response) {
                    alert("Payment Failed");
                });
                razorpayObject.open();
            } else if (res.success && res.payment_method === "cod") {
                window.location.href = '/order-success'
            } else {
                alert(res.msg);
            }
        }
    });
    })
  function verifyRazorpay(payment,orderId){
    $.ajax({
        url: "/verify-payment",
        type: "POST",
        data:{
            orderId:orderId,
            payment:payment
        },
        success: function (res){
            
            alert("success");
            window.location.href = '/order-success'

        }
  })
}
$(document).ready(function() {
  
    $('#coupon-form').submit(function(event) {

        event.preventDefault();
    var couponname=$('input[name="couponname"]').val()
    var totalAmount=parseFloat($('#totalAmountField').val());
    $.ajax({
        url:'/apply-coupon',
        method:'POST',
        data :{couponname:couponname,totalAmount:totalAmount},
        success:function(response){
            if(response.success){
                document.getElementById('ordercouponname').value=couponname;
            $('#grandTotal').text(response.GrandTotal);
            $('#discountval').text(response.discountedAmount);
           document.getElementById('couponname').disabled=true

            }
            else{
                $('#discountedAmount').text('Coupon not found');
                $('#grandTotal').empty(); 

            }
        },
        error: function(error) {
            console.error('Error:', error);
            alert("internal server error");
            
        }
    });
});
});

    
    
           
   




    </script>


    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="./assets/js/main.js?v=3.4"></script>
    <script src="./assets/js/shop.js?v=3.4"></script>
</body>

</html>